{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <div>
            <label for="search">{{ 'global.search_form.label' | trans }}</label>
            <input type="text" name="search" id="search" class="form-control"
                   value="{{ search }}"
            >
        </div>
        <button class="btn btn-primary">{{ 'global.action.search' | trans }}</button>
    </form>

    <ul>
    {% for issue in issues %}
        <li><a href="{{ path('app_default_show', {id: issue.id}) }}">{{ issue.title }}</a></li>
        {% else %}
        <li>{{ 'issue.empty_index' | trans }} {{ 'No opened issues' | trans }}</li>
    {% endfor %}
    </ul>
{% endblock %}
