{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>{{ issue.title }}</h1>
    <p>Créé le {{ issue.createdAt | format_date }}
        {% if issue.createdBy is not null %} par {{ issue.createdBy.email }} {% endif %}
    </p>
    <div>{{ issue.description | nl2br }}</div>
    {% for post in posts %}
        <div class="border border-light p-3 rounded">
            {{ post.content | nl2br }}
        </div>
    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED') %}
        {{ form_start(form) }}
        <div>
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
        <button class="btn btn-primary"><i class="bi bi-send"></i>Envoyer</button>
        {{ form_end(form) }}
    {% else %}
        <p>Vous devez vous <a href="{{ path('app_login', {_target_path: app.request.requestUri}) }}">authentifier</a> pour réagir à cette demande.</p>
    {% endif %}
</article>
{% endblock %}
